<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.example.gxymavenspringboot1.DAO.TaskMapper">
    <!--动态SQL-->
    <!--这里的id为UserMapper.class文件中对应的方法名-->
    <!--这里的resultType为返回的数据类型，这里返回User-->
    <!--    <select id="list" resultType="com.example.gxymavenspringboot1.pojo.User">-->
    <!--        select * from user where;-->
    <!--    </select>-->

    <select id="searchAllTask" resultType="com.example.gxymavenspringboot1.pojo.Task">
        select *  from task ;
    </select>

    <select id="searchTaskByCusId" resultType="com.example.gxymavenspringboot1.pojo.Task" parameterType="java.lang.String"  >

        select *  from task where cus_id=#{cus_id};
    </select>

    <insert id="taskAdd" parameterType="com.example.gxymavenspringboot1.pojo.Task">

        insert into task(cus_id,
                         load_way,
                         collect_time,
                         collect_address,
                         send_time,
                         send_address,
                         car_type,
                         remark_message,
                         thing_no,
                         thing_message,
                         fba_code,
                         fba_id,
                         update_time
        )
        values(#{cusId},
               #{loadWay},
               #{collectTime},
               #{collectAddress},
               #{sendTime},
               #{sendAddress},
               #{carType},
               #{remarkMessage},
               #{thingNo},
               #{thingMessage},
               #{fbaCode},
               #{fbaId},
               #{updateTime}
              )
    </insert>

    <select id="searchTaskByIdAndCusId" resultType="com.example.gxymavenspringboot1.pojo.Task"  >
        select *  from task where id=#{id} and cus_id=#{cus_id};
    </select>

    <update id="taskUpdate" parameterType="com.example.gxymavenspringboot1.pojo.Task" flushCache="true" statementType="PREPARED">
        update task
        set  load_way = #{loadWay},
             collect_time = #{collectTime},
             collect_address = #{collectAddress},
             send_time = #{sendTime},
             send_address = #{sendAddress},
             car_type = #{carType},
             remark_message = #{remarkMessage},
             thing_no = #{thingNo},
             thing_message = #{thingMessage},
             fba_code = #{fbaCode},
             fba_id = #{fbaId}
        where id = #{id} and cus_id=#{cusId};
    </update>


    <delete id="taskDeleteByIdAndCusId">
        delete from task where id = #{id} and cus_id=#{cusId};
    </delete>

</mapper>
