<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


    <mapper namespace="com.example.gxymavenspringboot1.DAO.UserMapper">
    <!--动态SQL-->
    <!--这里的id为UserMapper.class文件中对应的方法名-->
    <!--这里的resultType为返回的数据类型，这里返回User-->
<!--    <select id="list" resultType="com.example.gxymavenspringboot1.pojo.User">-->
<!--        select * from user where;-->
<!--    </select>-->



    <!--查询出所有用户列表信息-->
    <select id="loginVerify" resultType="Integer" parameterType="com.example.gxymavenspringboot1.pojo.UserLoginVerify" >

        select count(*)  from user where
            cus_id=#{cusId} and password=#{password};
    </select>

    <!--添加新的用户数据息-->
    <insert id="userAdd" parameterType="com.example.gxymavenspringboot1.pojo.User">

        insert into user(cus_id,
                         password
        )
        values(#{cusId},
               #{password}
              );
    </insert>

    <select id="selectUserByCusId" resultType="com.example.gxymavenspringboot1.pojo.User" >
        select * from user where cus_id=#{cusId};
    </select>

    <select id="userUpdateQueryById" resultType="com.example.gxymavenspringboot1.pojo.User" >
        select * from user where id=#{Id};
    </select>

    <update id="userUpdateById" parameterType="com.example.gxymavenspringboot1.pojo.UpdateUserEnter" flushCache="true" statementType="PREPARED">
        update user
        set  cus_id = #{cusId},
             password = #{password}
             where id = #{id};
    </update>

    <delete id="userDeleteById">
        delete from user where id = #{id};
    </delete>

</mapper>
