<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
    <style>
        .taskMessage{
            text-align:center;
        }
        .btn btn-primary{
            display:none;
        }

    </style>
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/2.1.3/jquery.min.js"></script>
    <!-- CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- jQuery and JavaScript Bundle with Popper -->
    <!--<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.slim.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.bundle.min.js" integrity="sha384-7ymO4nGrkm372HoSbq1OY2DP4pEZnMiA+E0F3zPr+JQQtQ82gQ1HPY3QIVtztVua" crossorigin="anonymous"></script>
</head>
<body>



<table class="table table-sm" border="1">
    <thead>
    <tr style="text-align:center;vertical-align:middle;">
        <th scope="col">id</th>
        <th scope="col">客户编码</th>
        <th scope="col">FBA预约码</th>
        <th scope="col">FBA预约Id</th>
        <th scope="col">货物管理番号</th>
        <th scope="col">货物信息</th>
        <th scope="col">装卸方式</th>
        <th scope="col">集荷时间</th>
        <th scope="col">集荷地点</th>
        <th scope="col">纳品时间</th>
        <th scope="col">纳品地址</th>
        <th scope="col">车辆类型</th>
        <th scope="col">备注</th>
        <th scope="col">修改时间</th>
        <th scope="col">操作</th>
        <th scope="col">操作</th>
    </tr>
    <tr th:each="task : ${taskResultList}">
        <td class="taskMessage" th:text="${task.id}"></td>
        <td class="taskMessage" th:text="${task.cusId}"></td>
        <td class="taskMessage" th:text="${task.fbaCode}"></td>
        <td class="taskMessage" th:text="${task.fbaId}"></td>
        <td class="taskMessage" th:text="${task.thingNo}"></td>
        <td class="taskMessage" th:text="${task.thingMessage}"></td>
        <td class="taskMessage" th:text="${task.loadWay}"></td>
        <td class="taskMessage" th:text="${task.collectTime}"></td>
        <td class="taskMessage" th:text="${task.collectAddress}"></td>
        <td class="taskMessage" th:text="${task.sendTime}"></td>
        <td class="taskMessage" th:text="${task.sendAddress}"></td>
        <td class="taskMessage" th:text="${task.carType}"></td>
        <td class="taskMessage" th:text="${task.remarkMessage}"></td>
        <td class="taskMessage" th:text="${task.updateTime}"></td>

        <td class="taskMessage"><a th:href="@{/task/taskUpdateQueryById(id=${task.id})}">修改任务</a></td>
        <td class="taskMessage"><a th:href="@{/task/taskDeleteByIdAndCusId(id=${task.id})}">删除任务</a></td>
    </tr>
    </thead>
    <tbody id="tBody">

    </tbody>
</table>
<button type="submit" class="btn btn-primary" style="display:block;margin:0 auto" id="addTask" name="addTask">添加任务</button>
<input type="hidden"  id="currentCusId" th:value="${session.cusId}">
<br>
<button type="submit" class="btn btn-primary" style="display:none;margin:0 auto" id="userManage" name="userManage">用户管理</button>
</body>
<script type="text/javascript">

    $("#addTask").click(function()
    {
        window.location.href="http://localhost:8888/task/taskAddJump";
    });

    if($("#currentCusId").val()==="pandaLine")
    {
        $("#userManage").css('display','block');
    }

    $("#userManage").click(function()
    {
        window.location.href="http://localhost:8888/user/userQuery";
    });
</script>
</html>