<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息列表</title>
    <style>
        .userMessage{
            text-align:center;
        }
        .btn btn-primary{
            display:none;
        }

    </style>
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/2.1.3/jquery.min.js"></script>
    <!-- CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- jQuery and JavaScript Bundle with Popper -->
    <!--<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.slim.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.bundle.min.js" integrity="sha384-7ymO4nGrkm372HoSbq1OY2DP4pEZnMiA+E0F3zPr+JQQtQ82gQ1HPY3QIVtztVua" crossorigin="anonymous"></script>
</head>
<body>

<table class="table table-sm" border="1">
    <thead>
    <tr style="text-align:center;vertical-align:middle;">
        <th scope="col">id</th>
        <th scope="col">客户编号</th>
        <th scope="col">密码</th>
        <th scope="col">修改时间</th>
        <th scope="col">操作</th>
        <th scope="col">操作</th>
    </tr>

    <tr th:each="user : ${userList}">
        <td class="userMessage" th:text="${user.id}"></td>
        <td class="userMessage" th:text="${user.cusId}"></td>
        <td class="userMessage" th:text="${user.password}"></td>
        <td class="userMessage" th:text="${user.updateTime}"></td>
        <td class="userMessage"><a th:href="@{/user/userUpdateQueryById(id=${user.id})}">修改</a></td>
        <td class="userMessage"><a th:href="@{/user/userDeleteById(id=${user.id})}">删除客户</a></td>
    </tr>

    </thead>
    <tbody id="tBody">

    </tbody>
</table>
<button type="submit" class="btn btn-primary" style="display:block;margin:0 auto" id="userAdd" name="userAdd">添加客户</button>
<br>
<button type="backMain" class="btn btn-primary" style="display:block;margin:0 auto" id="backMain" name="backMain">返回任务列表</button>
</body>
<script type="text/javascript">

    $("#userAdd").click(function()
    {
        window.location.href="http://localhost:8888/user/userAddJump";
    });

    $("#backMain").click(function()
    {
        window.location.href="http://localhost:8888/user/userQuery";
    });

</script>
</html>